.Intro {
    font-family: Calibri;
    font-size: 100px;
}
bodyContacts{
    margin:0;
    padding:0;
}
section {
    background-image: url("../Images/fogg-coffee-break.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 900vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
img{
    padding-top:90px;
    width:30vw;
    height:30vh;
    
}
.container{
    width:10vw;
    height:10vh;
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    display:flex;
    background-color:transparent;
    
    
}

.inner{
    margin-top:13vh;
    width:28vw;
    height:41vh;
    text-align:center;
}

.Label1{
    font-size:2.5vw;
    font-family:'Bauhaus 93';
    text-shadow: 2px 2px 4px #000;
    color: mintcream;
}

