
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}
/* text align right */
.txt-lt {
    text-align: left;
}
/* text align left */
.txt-center {
    text-align: center;
}
/* text align center */
.float-rt {
    float: right;
}
/* float right */
.float-lt {
    float: left;
}
/* float left */
.clear {
    clear: both;
}
/* clear float */
.pos-relative {
    position: relative;
}
/* Position Relative */
.pos-absolute {
    position: absolute;
}
/* Position Absolute */
.vertical-base {
    vertical-align: baseline;
}
/* vertical align baseline */
.vertical-top {
    vertical-align: top;
}
/* vertical align top */
nav.vertical ul li {
    display: block;
}
/* vertical menu */
nav.horizontal ul li {
    display: inline-block;
}
/* horizontal menu */
img {
    max-width: 100%;
}

.Grid {
    border: solid 1px Tan;
}

.GridHeader {
    font-weight: bold;
    background-color: Tan;
}

    .GridHeader a {
        text-decoration: none;
        color: LightGoldenrodYellow;
        padding: 0px 15px 0px 15px;
    }

        .GridHeader a:hover {
            text-decoration: underline;
            background: Tan url(images/spin.gif) no-repeat 0 100%;
        }

/*.GridItem, .GridAltItem {
    font-size: smaller;
}*/

.navbar {
    overflow: hidden;
    background-color: #333;
}

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.dropdownReport {
    float: left;
    overflow: hidden;
}

    .dropdownReport .dropbtnReport {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: black;
        font-family: inherit;
        margin: 0;
    }

.navbar a:hover, .dropdownReport:hover .dropbtnReport {
    background-color: red;
}

.contentNavbar {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.contentNavbar a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

    .contentNavbar a:hover {
        background-color: #ddd;
    }

.dropdownReport:hover .contentNavbar {
    display: block;
}

.GridItem {
    background-color: LightGoldenrodYellow;
}

.GridAltItem {
    background-color: PaleGoldenrod;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

    body a {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 15px;
        font-weight: 600;
    }

        body a:hover {
            text-decoration: none;
        }

        body a:focus, a:hover {
            text-decoration: none;
        }

input[type="button"], input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.clear {
    clear: both;
}

p {
    margin: 0;
    color: #666;
    letter-spacing: 1px;
    line-height: 1.8em;
    font-size: 16px;
    font-weight: 400;
}

.row {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

a:focus, a:hover {
    text-decoration: none;
    outline: none;
}

.productionform {
    padding: 3em 0;
    background-color: wheat;
}

.prodTable_Info h1 {
    font-size: 35px;
    margin: 1em 0em .5em 0em;
    color: #333;
    font-weight: 700;
    text-align: center;
}

input[type="text"] {
    font-size: 15px;
    color: #333;
    text-align: left;
    letter-spacing: 1px;
    padding: 14px 10px;
    width: 93%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Raleway', sans-serif;
}

.dropdown {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 3px 10px;
    border: 1px solid #ddd;
    background: #fff;
}

.dropdown span.fa {
    font-size: 16px;
    vertical-align: middle;
    box-sizing: border-box;
    float: left;
    text-align: center;
    width: 6%;
    padding: 15px 0px;
    color: #01cd74;
}

.dropdown-content {
    font-size: 15px;
    color: #333;
    text-align: left;
    letter-spacing: 1px;
    padding: 14px 10px;
    width: 93%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Raleway', sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.input-group {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 3px 10px;
    border: 1px solid #ddd;
    background: #fff;
}

.btn-block {
    background: #ff4040;
    border: none;
    color: #fff;
    font-size: 13px;
    padding: 12px 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.prod_info h2 {
    display: inline-block;
    font-size: 26px;
    margin-bottom: 10px;
    color: #333;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.prod_info h4 {
    display: inline-block;
    font-size: 15px;
    padding: 8px 0px;
    color: #444;
    text-transform: capitalize;
}

a.btn.btn-block.btn-social.btn-facebook {
    display: block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}

.prod_info {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 3em 4em;
}

.divider_info {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.prodTable_Info {
    padding-right: 3em;
}

.prod_form {
    padding: 0px;
    flex-basis: 50%;
}

.prod_info p {
    padding-bottom: 30px;
}


.prod_info label {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
    font-size: 13px;
    padding-left: 0px;
}


.container {
    width: 85%;
    margin: 0 auto;
}



.input-group span.fa {
    font-size: 16px;
    vertical-align: middle;
    box-sizing: border-box;
    float: left;
    text-align: center;
    width: 6%;
    padding: 15px 0px;
    color: #01cd74;
}

h5 {
    text-align: center;
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
}

.footer p {
    color: #666;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 2em;
}

    .footer p a {
        color: #333;
    }

/** Responsive **/
@media screen and (max-width: 1440px) {
    .container {
        width: 85%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1366px) {
    .container {
        width: 75%;
    }

    .prodTable_Info h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 1080px) {
    .container {
        width: 65%;
    }

    .prod_info h2 {
        font-size: 24px;
        letter-spacing: 1px;
    }

    .prodTable_Info h1 {
        font-size: 25px;
    }

    .prod_info {
        padding: 3em 3em;
    }
}

@media screen and (max-width: 1024px) {
    .productionform {
        padding: 1em 0;
    }

    .container {
        width: 65%;
    }

    .prodTable_Info {
        padding-right: 3em;
        padding-top: 2em;
    }
}

@media screen and (max-width: 991px) {
    .prod_info h2 {
        font-size: 24px;
    }

    h1 {
        font-size: 25px;
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 900px) {

    .container {
        width: 90%;
    }

    .prodTable_Info h4 {
        font-size: 1em;
    }

    .prod_info {
        padding: 3em 2.5em;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 95%;
    }

    input[type="text"] {
        font-size: 14px;
    }

    .input-group span.fa {
        font-size: 16px;
        padding: 13px 0px;
    }

    .dropdown span.fa {
        font-size: 16px;
        padding: 13px 0px;
    }

    .prod_info h2 {
        font-size: 23px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    .prod_info h2 {
        letter-spacing: 1px;
    }

    .prodTable_Info h1 {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .prodTable_Info {
        padding-right: 2em;
    }
}

@media screen and (max-width: 736px) {
    .prodTable_Info h3 {
        font-size: 1.7em;
    }

    .prod_info h2 {
        font-size: 22px;
    }

    .prod_info {
        padding: 3em 2em;
    }

    .footer p {
        font-size: 14px;
    }

    .prod_info h4 {
        font-size: 14px;
    }

    .footer p {
        margin-top: 0em;
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 684px) {
    .prod_info h2 {
        font-size: 20px;
        letter-spacing: 0px;
    }

    .prodTable_Info h1 {
        font-size: 20px;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 667px) {
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 20px;
    }

    .divider_info {
        flex-direction: column;
    }

    body {
        background-color: gray;
    }

    .prodTable_Info {
        padding-right: 0em;
    }
}

@media screen and (max-width: 480px) {

    h1 {
        font-size: 20px;
    }

    .footer {
        margin: 0 1em;
    }

    .account_Info h1 {
        margin: 0em 0em .5em 0em;
    }
}

@media screen and (max-width: 414px) {
    .prod_info {
        padding: 2em;
    }

    h1 {
        font-size: 32px;
        letter-spacing: 1px;
    }

    .prodTable_Info p {
        font-size: 14px;
    }

    .container {
        width: 90%;
    }

    .prodTable_Info {
        padding-top: 1em;
    }

    .prod_info p {
        font-size: 14px;
    }
}

@media screen and (max-width: 384px) {
    .prodTable_Info h4 {
        font-size: .9em;
    }

    .prod_info {
        padding: 2em 1em;
    }

    .prodTable_Info h1 {
        font-size: 21px;
        letter-spacing: 0px;
    }

    .prod_info h2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 375px) {
    .prodTable_Info h3 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .prod_info h2 {
        font-size: 18px;
        letter-spacing: 0px;
    }

    .btn-danger {
        padding: 13px 12px;
        font-size: 13px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        font-size: 13px;
    }

    .footer p {
        font-size: 13px;
    }

        .footer p a {
            font-size: 13px;
        }
}
/** /Responsive **/
